.life-counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 80px);
  width: 100%;
  row-gap: 16px;
  align-items: center;
}

.life-button {
  padding: 0;
  font-size: 3rem;
  height: 100%;
}

.increase-life-button {
  grid-row: 2;
  grid-column: 1 / 4;
}

.decrease-life-button {
  grid-row: 4;
  grid-column: 1 / 4;
}

.player-name {
  grid-row: 1;
  grid-column: 1 / 4;
}

.life {
  grid-row: 3;
  grid-column: 2 / 3;
}

.current-life-change {
  grid-row: 3;
  grid-column: 3;
}

.positive-life {
  color: #15803d;
}

.negative-life {
  color: #b91c1c;
}

.text {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
